body{
    background-color: #333;
    color: #fff;
}
.navbar{
   border-bottom: 3px solid #008ed6;
   opacity: 0.7;
}
#home{
    background: url(img/home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 600px;
}

#home .overlay{
    width: 100%;
    min-height: 600px;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.6);

}
